<form action="" method="post">
  <div>
    <h1 mat-dialog-title>Login</h1>
    <div mat-dialog-content>
      <mat-form-field appearance="standard">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter a user name">
        <mat-hint>User name will appear on forums</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-content>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button type="submit">Submit</button>
  </div>

</form>


