<div class="cardContainer">
  <mat-card class="card1">
    <mat-card-header>
      <mat-card-title>{{title3}}</mat-card-title>
      <mat-card-subtitle>{{subtitle3}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{ content3}}</mat-card-content>
  </mat-card>

  <mat-card class="card2">
    <mat-card-header>
      <mat-card-title>{{title1}}</mat-card-title>
      <mat-card-subtitle>{{subtitle1}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{content1}}</mat-card-content>
  </mat-card>

  <mat-card class="card3">
    <mat-card-header>
      <mat-card-title>{{title2}}</mat-card-title>
      <mat-card-subtitle>{{subtitle2}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{content2}}</mat-card-content>
  </mat-card>
</div>



