@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.logo {
  display: inline-block;
  width: 90px;
  height: 50px;
  padding: 14px 20px 0px 25px;
  float: left;
}
.headerContainer{
  padding: 20px 0px 0px 60px;
}
.headerTitle {
  font-family: 'Beth Ellen', cursive;
  display: inline;
  color: #073b4c;
  font-size: 20px;
}

header{
  max-width: 1900px;
  height: 62px;
  background-color: #9f86c0;
  margin: -8px -7px 0px -20px;
}

button {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.signUpBtn {
  display: inline-block;
  margin-left: 8px;
}

.menuContainer{
  margin: -30px 10% 0px 0px;
  width: 50%;
  float: right;
  font-size: 18px;
}

mat-dialog-container{
  margin-left: 300px;
  border: solid red 3px;
}

a{
  color: black;
}

a:visited{
  color: black;
}

