<!--<form #memberForm="ngForm" (ngSubmit)="onSave(memberForm.value)" novalidate>-->
<form>
  <div>
    <h1 mat-dialog-title>Register</h1>
    <div mat-dialog-content>
      <mat-form-field appearance="standard">
        <mat-label>Email Address</mat-label>
        <input name="email" type="email" required [(ngModel)]="member.email" matInput placeholder="Enter your email">
        <mat-hint>Don't worry! We hate spam too!</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-content>
      <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input name="firstname" type="text" required [(ngModel)]="member.firstName" matInput placeholder="Enter a first name">
        <mat-hint>First name will appear on forums</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-content>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input name="lastname" type="text" required [(ngModel)]="member.lastName" matInput placeholder="Enter a Last name">
      <mat-hint>Last name will appear on forums</mat-hint>
    </mat-form-field>
  </div>


    <div mat-dialog-content>
      <mat-form-field appearance="standard">
        <mat-label ">User Name</mat-label>
        <input matInput name="username" type="text" required [(ngModel)]="member.username"  placeholder="Enter a user name">
        <mat-hint>User name will appear on forums</mat-hint>
      </mat-form-field>
    </div>


  <div mat-dialog-content>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input name="password" type="password" required [(ngModel)]="member.password" matInput placeholder="Password">
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" (click)="createMember()">Submit</button>
</form>









